

.payment-methods, .payment-info {
    display: none;
}

body{
    background: #ececec;
    font-family: 'PT Sans', sans-serif !important;
}

.search-params__notic-block:after, .search-params__notic-block:before {
    background: none;
}


.search-params .inputformv1 {
    border: medium none;
    box-sizing: border-box;
    box-shadow: none !important;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    height: 32px;
    width: 100%;
}

.inputformv1_has_autocomplete {
    position: relative;
    z-index: 3;
}

.inputformv1 {
    background: #e8e8e8;
    border: 1px solid #cccccc !important;
    box-shadow: 0 !important;
    outline: medium none;
    padding: 6px 10px;
    height: 32px;
}


.rzhd-main-page, .confirm-station, .buy-rezult, .eg-cabinet-login .search-params {
    background-image: none;
}

.search-params {
    background-color: #f9f9f9;
    border-radius: 0;
}

.search-params__time, .search-params__date {
    display: none;
}

.search-params__tickets {
    display: none;
}

.search-params__notic-block {
    background: #528196;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    border: none;
    margin: 0 0 30px;
    padding: 15px 20px 25px;
    position: relative;
}

.search-params__hint {
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif !important;
    font-style: normal;
    font-size: 13px;
}
